.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #64748b;
  border-radius: 10px;
}

.notification-content {
  display: flex;
}

.close-icon {
  color: #475569;
  width: 20px;
  height: 20px;
  margin: 10px;
}
